//// SECTION ONE

.mixture {
  display: grid;
  position: relative;
  grid-template-columns: 1.8fr repeat(3, 0.7fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
  margin: 0 auto;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 10px;
  }
}

.container {
  position: relative;
  width: 100%;
  // background-color: burlywood;
  grid-column: 2 / span 4;
  grid-row: 1 / span 4;

  @include respond(phone) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.container__photo {
  width: 55%;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 2px;

  @include respond(tab-port) {
    width: 53%;
    position: relative;
  }

  @include respond(phone) {
    width: 48%;
    position: relative;
  }

  &-p1 {
    top: -1rem;
    left: 3rem;

    @include respond(tab-port) {
      top: 2.5rem;
      left: 8rem;
    }

    @include respond(phone) {
      top: 4rem;
      left: 1.5rem;
    }
  }

  &-p2 {
    top: 2rem;
    left: 45%;

    @include respond(tab-port) {
      top: 4rem;
      left: 8rem;
    }

    @include respond(phone) {
      top: 6rem;
      left: 0rem;
    }
  }

  &-p3 {
    left: 12rem;
    top: 17rem;

    @include respond(tab-port) {
      top: 6rem;
      left: 8rem;
    }

    @include respond(phone) {
      left: 15rem;
      top: 1rem;
    }
  }
}

.cta__wrapper {
  background-color: rgba($color-secondary-light, 0.9);
  box-shadow: 0 2rem 5rem rgba(#000, 0.1);
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 4rem;
  border-radius: 5px;

  @include respond(phone) {
    grid-column: 1 / span 1;
    grid-row: 1 / 2;
    padding: 2rem;
    margin-bottom: 3rem;
  }
}

.cta__box {
  // background-color: chocolate;

  &-title {
    font: bold 7.5em/1 'Playfair Display', serif;

    @include respond(phone) {
      font-size: 6.5em;
    }
  }

  &-text {
    font-size: 1.9rem;
    margin-top: 4rem;
  }
}
