/// SECTION TWO
.services {
  padding: 15rem 0;

  @include respond(phone) {
    padding: 10rem 0;
  }
}

.family-images {
  // background-color: lightcoral;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr auto;

  .family-img-1 {
    z-index: 200;
    outline: solid 3.3px white;
    width: 135%;
    grid-row: 2 / 5;
    grid-column: 3 / 4;

    @include respond(phone) {
      width: 110%;
    }
  }

  .family-img-2 {
    z-index: 100;
    width: 120%;
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.family-text {
  // background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 4rem;

  @include respond(phone) {
    text-align: left;
    padding: 1rem;
  }

  h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  p {
    font-size: 1.7rem;
    line-height: 1.95;
  }
}

.wedding {
  // background-color: lightcoral;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8rem 0;
  height: 70vh;

  @include respond(phone) {
    padding: 5rem 2rem;
    height: 75vh;
  }

  .wedding__pictures {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    // background-color: rgba(248, 244, 211, 0.664);

    @include respond(phone) {
      grid-template-rows: repeat(6, 60px);
      justify-items: center;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .wedding__img--1 {
      width: 100%;
      grid-row: 5 / 6;
      grid-column: 1 / 4;
      outline: solid 3.3px white;
      z-index: 100;
      border-radius: 5px;

      @include respond(tab-port) {
        grid-row: 4 / 5;
      }

      @include respond(phone) {
        margin-left: 2rem;
        grid-row: 3 / 4;
        width: 98%;
      }
    }

    .wedding__img--2 {
      width: 100%;
      grid-row: 3 / 4;
      grid-column: 4 / 7;
      margin-left: -2rem;
      outline: solid 3.3px white;
      z-index: 200;
      border-radius: 5px;

      @include respond(phone) {
        margin-left: 1rem;
        grid-row: 1 / 4;
        width: 98%;
      }
    }
  }

  &__content {
    grid-row: 1 / 2;
    // background-color: rgba(218, 226, 252, 0.568);

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;

    @include respond(phone) {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
      align-items: flex-end;
      justify-content: start;
    }

    h2 {
      padding: 2.5rem 0;
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 1.6rem;
      // background-color: lightcoral;

      @include respond(phone) {
        padding: 1rem 0;
      }
    }

    h3 {
      position: absolute;
      left: 10%;
      top: 22%;
      letter-spacing: 0.2rem;
      z-index: 200;
      white-space: nowrap;
      font-size: 4rem;
      line-height: 1.3;
      font-weight: 500;

      @include respond(tab-port) {
        font-size: 3.5rem;
        top: 20%;
        left: 12%;
      }

      @include respond(phone) {
        width: 60%;
        white-space: normal;
        top: -310%;
        left: -2%;
        padding-bottom: 1rem;
        line-height: 1.65;
      }

      @include respond(small-phone) {
        width: 60%;
        white-space: normal;
        top: -245%;
        left: -8%;
        padding-bottom: 1rem;
        line-height: 1.65;
      }
    }

    p {
      padding-top: 12rem;
      // background-color: rgb(128, 218, 240);
      font-size: 1.7rem;
      line-height: 1.95;

      @include respond(tab-port) {
        padding-top: 11rem;
      }

      @include respond(phone) {
        text-align: right;
        padding-top: 1rem;
      }
    }
  }
}

.icon::before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// .services {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   margin: 0 15rem;
//   row-gap: 25px;

//   @include respond(tab-port) {
//     margin: 0 10rem;
//   }

//   @include respond(phone) {
//     row-gap: 10px;
//     margin: 0;
//   }
// }

// .services__img {
//   width: 100%;
//   padding: 2rem;

//   @include respond(tab-port) {
//     width: 98%;
//     padding: 0;
//     align-self: unset;
//     // align-self: center;
//   }
// }

// .services__item {
//   align-self: center;
//   justify-self: center;
//   width: 75%;
//   font-size: 1.5rem;
//   padding-bottom: 3rem;

//   @include respond(tab-port) {
//     width: 80%;
//     padding-bottom: 1.5rem;
//   }
// }

// .services__icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: $color-primary-light;
//   height: 5.5rem;
//   width: 5.5rem;
//   border-radius: 50%;
//   margin-bottom: 1.5rem;
//   text-align: center;

//   @include respond(tab-port) {
//     height: 5rem;
//     width: 5rem;
//     margin-bottom: 1rem;
//   }

//   @include respond(phone) {
//     height: 4.5rem;
//     width: 4.5rem;
//   }

//   &:hover {
//     background-color: rgba($color-primary-light, 0.6);
//   }
// }

// .services__icons {
//   font-size: 2em;
//   color: beige;
//   transition: all;

//   &-1::before {
//     content: '\f004';
//   }
//   &-2::before {
//     content: '\f005';
//   }
//   &-3::before {
//     content: '\f185';
//   }

//   @include respond(phone) {
//     font-size: 1.7em;
//   }

//   &-1:hover,
//   &-2:hover,
//   &-3:hover {
//     transform: translateY(-3px);
//     color: rgba($color-secondary, 0.8);
//   }
// }

// // .services__icon svg {
// //   height: 2.5rem;
// //   width: 2.5rem;
// //   fill: $color-primary;
// // }

// .services__header {
//   font-size: 2.3rem;
//   margin-bottom: 1rem;

//   @include respond(tab-port) {
//     margin-bottom: 0.8rem;
//   }
// }
