/// SECTION TWO

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 15rem;
  row-gap: 25px;

  @include respond(tab-port) {
    margin: 0 10rem;
  }

  @include respond(phone) {
    row-gap: 10px;
    margin: 0;
  }
}

.services__img {
  width: 100%;
  padding: 2rem;

  @include respond(tab-port) {
    width: 98%;
    padding: 0;
    align-self: unset;
    // align-self: center;
  }
}

.services__item {
  align-self: center;
  justify-self: center;
  width: 75%;
  font-size: 1.5rem;
  padding-bottom: 3rem;

  @include respond(tab-port) {
    width: 80%;
    padding-bottom: 1.5rem;
  }
}

.services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary-light;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  text-align: center;

  @include respond(tab-port) {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }

  @include respond(phone) {
    height: 4.5rem;
    width: 4.5rem;
  }

  &:hover {
    background-color: rgba($color-primary-light, 0.6);
  }
}

.services__icons {
  font-size: 2em;
  color: beige;
  transition: all;

  &-1::before {
    content: '\f004';
  }
  &-2::before {
    content: '\f005';
  }
  &-3::before {
    content: '\f185';
  }

  @include respond(phone) {
    font-size: 1.7em;
  }

  &-1:hover,
  &-2:hover,
  &-3:hover {
    transform: translateY(-3px);
    color: rgba($color-secondary, 0.8);
  }
}

// .services__icon svg {
//   height: 2.5rem;
//   width: 2.5rem;
//   fill: $color-primary;
// }

.services__header {
  font-size: 2.3rem;
  margin-bottom: 1rem;

  @include respond(tab-port) {
    margin-bottom: 0.8rem;
  }
}

.icon::before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
