/// UTILITIES

.u-center-text {
  text-align: center;
}

.u-mb-xs {
  margin-bottom: 0.5rem;
}

.u-mb-m {
  margin-bottom: 6rem;
}

.u-mb-l {
  margin-bottom: 15rem;
}

.u-mt-m {
  margin-top: 3.5rem;
}

.u-mt-l {
  margin-top: 5rem;
}
