//// MIXTURE
.section-one {
  // background-color: $color-primary-light;
  // background-color: rgba($color-primary-light, 0.2);
  background-color: rgb(236, 236, 236);
  padding: 18rem 0;

  @include respond(tab-port) {
    padding: 15rem 0rem;
  }

  @include respond(phone) {
    padding: 10rem 0.2rem;
  }
}

.section-introduction {
  // background-color:
  padding: 20rem 0rem;
  background-color: #fff;

  @include respond(tab-port) {
    margin-top: -10rem;
    padding: 20rem 1rem;
  }
}

//// SERVICES
.section-two {
  // background-color: rgba(rgba(179, 67, 59, 0.719), 0.2);
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-secondary, 0.7),
  //     rgba($color-secondary, 0.6)
  //   ),
  //   url(../resources/images/banner/banner-3.jpg);
  // background-size: cover;
  // // transform: skewY(-7deg);
  // margin-top: -10rem;

  padding: 10rem 5rem;

  @include respond(phone) {
    padding: 8rem 5rem;
  }
}

//// ABOUT
.section-three {
  padding: 18rem 18rem;

  @include respond(tab-port) {
    padding: 10rem 5rem;
  }
}

.section-packages {
  padding: 15rem 10rem;
  // background-color: orange;
}

.section-prototype {
  position: relative;
  background-color: rgba($color-secondary-light, 0.6);
  padding: 10rem 5rem;

  // @include respond(phone) {
  //   padding: 10rem 6rem;
  // }
}

//// BOOKING
.section-four {
  padding: 18rem 0;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 10rem 2rem;
  }
}

//// SECTION BOX
.section {
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

// .section__block {
//   // background-color: lightcoral;
// }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 0 auto;

  @include respond(tab-port) {
    text-align: center;
  }
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba($color-primary-dark, 0.5);
  margin: 7rem 0 2rem 0;

  @include respond(tab-port) {
    text-align: center;
  }
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
  margin: 2rem 0 9rem 0;
  // margin-bottom: 10rem;

  @include respond(phone) {
    margin: 2.5rem 0 14rem 0;
    font-size: 3.5rem;
    // margin-bottom: 10rem;
    text-align: center;
  }
}
