/// COLORS
$color-primary: #6c8152;
$color-primary-light: #bbc893;
$color-primary-dark: #828957;

$color-secondary: #6c584c;
$color-secondary-light: #e6c568;
$color-secondary-dark: #cf9a5e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #444;

/// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // 8
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem; // 6
