/// COLORS
$color-primary: #5d7ca6;
$color-primary-dark: #023059;
$color-primary-dark-2: #03588c;
$color-primary-light: #73a2bf;

$color-secondary: #f2caa7;
$color-secondary-light: #ffeaa7;
$color-secondary-dark: #d98032;

// $color-tertiary-light: #d9b4c1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

/// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // 8
$gutter-horizontal: 5rem; // 6
