/// COLORS
$color-primary: #5d7ca6;
$color-primary-dark: #101d2c;
$color-primary-light: #73a2bf;

$color-secondary: #705e44;
$color-secondary-light: #ffeaa7;
$color-secondary-dark: #b28451;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

/// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // 8
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem; // 6
