.row {
  max-width: $grid-width;
  margin: 0 auto;
  //background-color:red;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include respond(tab-land) {
    max-width: 60rem;
    padding: 0 2.5rem;
  }

  @include respond(tab-port) {
    max-width: 75rem;
    padding: 0 2rem;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: 6rem;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical;
      }
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}
